body {
  background-color: blanchedalmond;
  width: 1200px;
  margin: auto;
  padding: 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

header {
  nav {
    text-align: center;
  }
  a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  a:hover {
    color: rgb(52, 167, 132);
  }
}

table,
th,
tr,
td {
  border: 1px solid black;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.banner-video {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.banner {
  position: relative;
}

.banner-video video {
  width: 100%;
  display: block;
}

.banner-content {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

button {
  margin: 10px;
  padding: 12px;
  background-color: rgb(52, 167, 132);
  border-radius: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkseagreen;
}
